<div>
    <h5>Bank transfer</h5>
    <div class="bg-body-secondary p-2 rounded d-flex flex-column gap-2">
        <div class="d-flex bg-light p-2 rounded justify-content-between">
            <div class="d-flex align-items-center gap-1">
                <small>Beneficiary Name:</small>
                <span class="fw-bold">Zakaria Atattou</span>
            </div>
            <button class="bg-transparent border-0"><i class="text-primary fs-5 fa-solid fa-copy"></i></button>
        </div>
        <div class="d-flex bg-light p-2 rounded justify-content-between">
            <div class="d-flex align-items-center gap-1">
                <small>Bank name:</small>
                <span class="fw-bold">Arab National Bank</span>
            </div>
            <button class="bg-transparent border-0"><i class="text-primary fs-5 fa-solid fa-copy"></i></button>
        </div>
        <div class="d-flex bg-light p-2 rounded justify-content-between">
            <div class="d-flex align-items-center gap-1">
                <small>IBAN number:</small>
                <span class="fw-bold">123456789123456789123456</span>
            </div>
            <button class="bg-transparent border-0"><i class="text-primary fs-5 fa-solid fa-copy"></i></button>
        </div>
    </div>
</div>
<!-- 
<div class="border my-4"></div>


<button class="btn btn-primary w-100 btn-lg">Pay with HyperPay</button> -->