@import './_override';
@import './rtl';
@import './custom/classes';
@import './abstract/variables';
@import './components/input';
@import './components/table';
@import './components/card';
@import './components/button';


@import 'bootstrap/scss/bootstrap.scss';

@import './custom/utilities';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Plus Jakarta Sans", sans-serif;
    min-height: 100vh;
    // overflow-y: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
button {
    text-decoration: none;

    &:hover {
        opacity: .8;
    }
}

.lang-link {
    top: 1rem;
    right: 1rem;
}

hr {
    opacity: .1;
}

.riyal-symbol {
    width: 16px;
}