<section>
    <div class="d-flex justify-content-between mb-4">
        <h4>
            {{ 'SHARED.SHOWING' | translate }}
            {{ startIndex }}
            -
            {{ endIndex }}
            {{ 'SHARED.OF' | translate }}
            {{ total() }}
            {{ 'SHARED.RESULT' | translate }}
        </h4>
    </div>



    <div class="row g-4 mb-4">
        @for (item of properties(); track $index) {
        <div class="col-md-6 col-lg-6 col-xl-4 col">
            <app-opportunity-card [property]="item"
                                  [variation]="'v-1'"></app-opportunity-card>
        </div>
        }
    </div>

    @if (loading()) {
    <div class="d-flex justify-content-center width-100 text-center">
        <p>Loading...</p>
    </div>
    }@else {
    <div class="mt-4 d-flex justify-content-end">
        <ngb-pagination [collectionSize]="total()"
                        [page]="filter.pageNumber"
                        (pageChange)="onPageChange($event)"
                        aria-label="Default pagination">
        </ngb-pagination>
    </div>
    }


</section>