<section>
    <div class="d-flex justify-content-between mb-4">
        <h4>
            {{ 'SHARED.SHOWING' | translate }}
            {{ startIndex }}
            -
            {{ endIndex }}
            {{ 'SHARED.OF' | translate }}
            {{ total() }}
            {{ 'SHARED.RESULT' | translate }}
        </h4>
    </div>



    <ul class="list-group">
        @if (loading()) {
        <div class="d-flex justify-content-center width-100 text-center">
            <p>Loading...</p>
        </div>
        }@else {
        @if (transactions().length) {
        @for (item of transactions(); track $index) {
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div class="col d-flex align-items-center gap-4">
                    <i class="fa-solid fa-arrow-down"></i>
                    <div>
                        <div class="d-flex gap-2">
                            <a
                               [routerLink]=" '/' + WEB_ROUTES.INVESTMENTS.ROOT + '/' + WEB_ROUTES.INVESTMENTS.DETAILS + '/' + item.id ">
                                <h6 class="mb-0 d-flex gap-2">{{item.propertyName}}
                                </h6>
                            </a>
                            @if(item.statusName === InvestmentStatusEnum.PENDING_TRANSFER){
                            <span class="badge bg-warning"> {{ 'TRANSACTIONS.LISTING.STATUS_PENDING' | translate
                                }}</span>
                            }
                            @if(item.statusName === InvestmentStatusEnum.COMPLETED){
                            <span class="badge bg-success">{{ 'TRANSACTIONS.LISTING.STATUS_COMPLETED' | translate
                                }}</span>
                            }
                        </div>
                        <!-- <small>Deposit</small> -->
                    </div>
                </div>
                <div class="col d-flex flex-column align-items-end">
                    <span class="text-success">${{item.amount}}</span>
                    <span class="">{{item.createdDate | date }}</span>
                </div>
            </div>
        </li>

        }
        <div class="mt-4 d-flex justify-content-end">
            <ngb-pagination [collectionSize]="total()"
                            [page]="filter.pageNumber"
                            (pageChange)="onPageChange($event)"
                            aria-label="Default pagination" />
        </div>
        }@else {
        <div class="d-flex justify-content-center align-items-center">
            <p>{{ 'TRANSACTIONS.LISTING.NO_INVESTMENTS' | translate }}</p>
        </div>
        }
        }




    </ul>
</section>