<section class="d-flex  flex-column justify-content-center gap-4 h-100 px-5">
    <img class="logo"
         src="assets/images/logo-white.svg"
         alt="">


    <h1 class="fw-bold">{{'AUTH.BANNER.TITLE' | translate}} </h1>

    <p>{{'AUTH.BANNER.DESC' | translate}} </p>

    <div class="d-flex gap-2">
        <a target="_blank"
           href="https://apps.apple.com/ma/app/hissatech-%D8%AD%D8%B5%D8%AA%D9%83/id6743798365">
            <img src="assets/images/appstore.svg"
                 alt="">
        </a>
        <a href="https://play.google.com/store/apps/details?id=sa.hissatech.app&pcampaignid=web_share"
           target="_blank">
            <img src="assets/images/googleplay.svg"
                 alt="">
        </a>
    </div>
    <small class="postion-absolute bottom-0 right-0 text-sm"> Version: {{version}}</small>
</section>