<section class="d-flex  flex-column justify-content-center gap-4 h-100 px-5">
    <img class="logo"
         src="assets/images/logo-white.svg"
         alt="">


    <h1 class="fw-bold">{{'AUTH.BANNER.TITLE' | translate}} </h1>

    <p>{{'AUTH.BANNER.DESC' | translate}} </p>

    <div class="d-flex gap-2">
        <a href="">
            <img src="assets/images/appstore.svg"
                 alt="">
        </a>
        <a href="">
            <img src="assets/images/googleplay.svg"
                 alt="">
        </a>
    </div>
</section>