<form [formGroup]="form">
    <h4>{{ 'SETTINGS.BANKING.TITLE' | translate }}</h4>
    <p>{{ 'SETTINGS.BANKING.DESCRIPTION' | translate }}</p>

    <div class="form-group mb-2">
        <label for="bankName"
               class="form-label">{{ 'SETTINGS.BANKING.BANK_NAME' | translate }}</label>
        <div class="input-group">
            <input type="text"
                   readonly
                   [disabled]="true"
                   formControlName="bankName"
                   class="form-control"
                   id="bankName">
        </div>
    </div>

    <div class="form-group mb-2">
        <label for="iban"
               class="form-label">{{ 'SETTINGS.BANKING.IBAN' | translate }}</label>
        <div class="input-group">
            <input type="text"
                   readonly
                   [disabled]="true"
                   formControlName="iban"
                   class="form-control"
                   id="iban">
        </div>
    </div>

    <div class="form-group mb-2">
        <label for="beneficiaryName"
               class="form-label">{{ 'SETTINGS.BANKING.BENEFICIARY' | translate }}</label>
        <div class="input-group">
            <input type="text"
                   readonly
                   [disabled]="true"
                   formControlName="name"
                   class="form-control"
                   id="beneficiaryName">
        </div>
    </div>

    <hr class="my-4">

    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">{{ 'SETTINGS.BANKING.SAVE_BTN' | translate }}</button>
    </div>
</form>