<div class="p-4 d-flex flex-column gap-3 h-100">
    <div class="d-flex align-items-center gap-3">
        <button (click)="onBack()"
                class="btn btn-sm btn-secondary d-flex gap-3 align-items-center">
            <i class="fa-solid fa-arrow-left"></i>
            Back</button>

        <h5 class="mb-0">
            {{property.displayName}}
        </h5>
    </div>
    @if (mode === modes.STEPPER) {
    <div class="d-flex flex-column gap-4 align-items-center justify-content-center">
        <form [formGroup]="form"
              class="bs-stepper stepper-outline vertical linear custom-stepper w-100"
              #stepperRef>

            @for (item of steps; track $index) {
            <div class="bs-stepper-header"
                 role="tablist">
                <div class="step"
                     [attr.data-target]="'#step-' + item.id">
                    <button type="button"
                            class="step-trigger p-0"
                            role="tab"
                            [attr.aria-controls]="'step-' + item.id"
                            [attr.id]="'step-' + item.id + '-trigger'">
                        <span class="bs-stepper-circle">{{$index + 1}}</span>
                        <span class="bs-stepper-label">{{item.title}}</span>
                    </button>
                </div>
                @if (($index + 1) !== steps.length) {
                <div class="my-2"></div>
                }

            </div>
            <div class="bs-stepper-content p-0 w-100">
                <div [attr.id]="'step-' + item.id"
                     class="content"
                     role="tabpanel"
                     [attr.aria-labelledby]="'step-' + item.id + '-trigger'">
                    <div class="d-flex flex-column gap-4">
                        <div class="pb-4 d-flex flex-column gap-2">
                            <h5>{{item.description}}</h5>
                            <ng-container
                                          *ngComponentOutlet="item.component; inputs: {formGroup: form.get(item.key), property: property}"></ng-container>
                        </div>
                        <div class="d-flex justify-content-between mt-auto">
                            <button (click)="onPrev()"
                                    type="button"
                                    class="btn btn-outline-primary col-2">
                                Prev
                            </button>
                            <button (click)="onNext(item)"
                                    type="button"
                                    class="btn btn-primary col-2">
                                {{item.buttonLabel}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            }

        </form>
    </div>
    }

    @if (mode === modes.SUCCESS) {
    <app-success [investmentId]="investmentId"></app-success>
    }
</div>