<div class="card d-flex flex-column gap-1">
    <img src="https://placehold.co/600x400/EEE/31343C"
         alt="">

    <div class="p-3 d-flex flex-column gap-2">
        <h6>Opportunity title goes here</h6>


        <div class="progress"
             role="progressbar"
             aria-label="Success example"
             aria-valuenow="25"
             aria-valuemin="0"
             aria-valuemax="100">
            <div class="progress-bar text-bg-primary"
                 style="width: 25%">25%</div>
        </div>

    </div>


    <div class="p-3">
        <div class="bg-grey row g-2">
            <div class="col-6">
                <div>
                    Annual Return
                </div>
                <span>
                    5470
                </span>
            </div>
            <div class="col-6">
                <div>
                    Annual Return
                </div>
                <span>
                    5470
                </span>
            </div>
            <div class="col-6">
                <div>
                    Annual Return
                </div>
                <span>
                    5470
                </span>
            </div>
            <div class="col-6">
                <div>
                    Annual Return
                </div>
                <span>
                    5470
                </span>
            </div>
        </div>
    </div>
</div>