<footer class="shadow py-3 bg-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="text-primary fw-semibold">Hissatech</span> © 2025
            </div>

            <div class="col d-flex justify-content-end">
                <ul class="d-flex gap-3">
                    <li>
                        <a href=""
                           class="fs-6">
                            Terms & Conditions
                        </a>
                    </li>
                    <li>
                        <a href=""
                           class="fs-6">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href=""
                           class="fs-6">
                            About
                        </a>
                    </li>
                    <li>
                        <a href=""
                           class="fs-6">
                            Faq
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>