section {
    img {
        width: 100%;
        max-width: 200px;
    }


    .step.active {
        .bs-stepper-circle {
            background-color: var(--primary-color) !important;
        }
    }

    .password-feedback-list {
        padding: 0;
        list-style-position: inside;

        li {
            font-size: 0.75rem;
            position: relative;
            color: #A5A5A5;

            &.completed {
                color: var(--primary-color);

                &::marker {
                    content: '✓';
                }
            }
        }
    }

}