<section class="container d-flex flex-column align-items-center justify-content-center gap-4 h-100">
    <form [formGroup]="signUpForm"
          class="col-12 col-lg-7 d-flex flex-column gap-4">
        <div class="d-flex flex-column gap-2">
            <img src="/assets/images/logo.svg"
                 alt="">
            <h1 class="fw-bold">{{ 'AUTH.FORM.SIGN_UP.TITLE' | translate }}</h1>
            <p>{{ 'AUTH.FORM.SIGN_UP.SUB_TITLE' | translate }}</p>
        </div>

        <div class="d-flex flex-column gap-2">
            <div class="bs-stepper"
                 #stepperRef>
                <div class="bs-stepper-header"
                     role="tablist">
                    <div class="step"
                         data-target="#step-1">
                        <button type="button"
                                class="step-trigger p-0"
                                role="tab"
                                aria-controls="step-1"
                                id="step-1-trigger">
                            <span class="bs-stepper-circle">1</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step"
                         data-target="#step-2">
                        <button type="button"
                                class="step-trigger p-0"
                                role="tab"
                                aria-controls="step-2"
                                id="step-2-trigger">
                            <span class="bs-stepper-circle">2</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step"
                         data-target="#step-3">
                        <button type="button"
                                class="step-trigger p-0"
                                role="tab"
                                aria-controls="step-3"
                                id="step-3-trigger">
                            <span class="bs-stepper-circle">3</span>
                        </button>
                    </div>
                </div>

                <div class="bs-stepper-content mt-4 p-0">
                    <!-- Step 1 -->
                    <div id="step-1"
                         class="content"
                         role="tabpanel"
                         aria-labelledby="step-1-trigger"
                         formGroupName="step_1">
                        <div class="d-flex flex-column gap-4">
                            <div class="form-group">
                                <label for="id"
                                       class="form-label">{{ 'AUTH.FORM.SIGN_UP.NATIONAL_ID' | translate }}</label>
                                <input type="text"
                                       dir="ltr"
                                       [maxLength]="10"
                                       [minLength]="10"
                                       class="form-control"
                                       formControlName="idNumber"
                                       id="id">
                                @if (form['step_1'].get('idNumber')?.errors?.['required'] &&
                                form['step_1'].get('idNumber')?.touched) {
                                <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                    <i class="fa-solid fa-circle-exclamation"></i>
                                    {{ 'This field is mandatory' | translate }}
                                </small>
                                }
                                @if (form['step_1'].get('idNumber')?.errors?.['minlength']) {
                                <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                    <i class="fa-solid fa-circle-exclamation"></i>
                                    {{ 'Invalid id number' | translate }}
                                </small>
                                }
                                @if (form['step_1'].get('idNumber')?.errors?.['maxlength']) {
                                <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                    <i class="fa-solid fa-circle-exclamation"></i>
                                    {{ 'Invalid id number' | translate }}
                                </small>
                                }
                            </div>
                            <button type="button"
                                    [disabled]="loading()"
                                    (click)="onNext(1)"
                                    class="btn btn-primary">
                                {{ 'AUTH.FORM.SIGN_UP.STEP_1_BUTTON' | translate }}
                            </button>
                        </div>
                    </div>

                    <!-- Step 2 -->
                    <div id="step-2"
                         class="content"
                         role="tabpanel"
                         aria-labelledby="step-2-trigger"
                         formGroupName="step_2">
                        <div class="d-flex flex-column gap-4">
                            <div class="row gy-3">
                                <div class="form-group">
                                    <label for="fullName"
                                           class="form-label">{{ 'AUTH.FORM.SIGN_UP.FULL_NAME' | translate }}</label>
                                    <input type="email"
                                           formControlName="fullName"
                                           readonly
                                           class="form-control"
                                           id="fullName">
                                </div>
                                <div class="form-group">
                                    <label for="email"
                                           class="form-label">{{ 'AUTH.FORM.SIGN_UP.EMAIL' | translate }}</label>
                                    <input type="email"
                                           class="form-control"
                                           formControlName="email"
                                           id="email">
                                    @if (form['step_2'].get('email')?.errors?.['required'] &&
                                    form['step_2'].get('email')?.touched) {
                                    <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        {{ 'This field is mandatory' | translate }}
                                    </small>
                                    }
                                    @if (form['step_2'].get('email')?.errors?.['email']) {
                                    <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        {{ 'Invalid email address' | translate }}
                                    </small>
                                    }
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber"
                                           class="form-label">{{ 'AUTH.FORM.SIGN_UP.PHONE_NUMBER' | translate }}</label>
                                    <div class="input-group">
                                        @if (traslationService.language === 'en') {
                                        <span class="input-group-text"
                                              dir="ltr">+966</span>
                                        }

                                        <input type="tel"
                                               dir="ltr"
                                               class="form-control"
                                               formControlName="phoneNumber"
                                               id="phoneNumber">

                                        @if (traslationService.language === 'ar') {
                                        <span class="input-group-text"
                                              dir="ltr">+966</span>
                                        }

                                    </div>
                                    @if (form['step_2'].get('phoneNumber')?.errors?.['required'] &&
                                    form['step_2'].get('phoneNumber')?.touched) {
                                    <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        {{ 'This field is mandatory' | translate }}
                                    </small>
                                    }
                                    @if (form['step_2'].get('phoneNumber')?.errors?.['pattern'] &&
                                    form['step_2'].get('phoneNumber')?.touched) {
                                    <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        {{ 'Invalid phone number' | translate }}
                                    </small>
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'AUTH.FORM.SIGN_UP.PRIMARY_INCOME' | translate
                                        }}</label>
                                    <select class="form-select"
                                            formControlName="sourceIncome">
                                        @for (item of PRIMARY_INCOME_SOURCES; track $index) {
                                        <option [value]="item.value">{{ item.name }}</option>
                                        }
                                    </select>
                                    @if (form['step_2'].get('sourceIncome')?.errors?.['required'] &&
                                    form['step_2'].get('sourceIncome')?.touched) {
                                    <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        {{ 'This field is mandatory' | translate }}
                                    </small>
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'AUTH.FORM.SIGN_UP.PRIMARY_AMOUNT' | translate
                                        }}</label>
                                    <select class="form-select"
                                            formControlName="incomeAmount">
                                        @for (item of PRIMARY_INCOME_AMOUNTS; track $index) {
                                        <option [value]="item.value">{{ item.name }}</option>
                                        }
                                    </select>
                                    @if (form['step_2'].get('incomeAmount')?.errors?.['required'] &&
                                    form['step_2'].get('incomeAmount')?.touched) {
                                    <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        {{ 'This field is mandatory' | translate }}
                                    </small>
                                    }
                                </div>
                            </div>
                            <button type="button"
                                    (click)="onNext(2)"
                                    class="btn btn-primary">
                                {{ 'AUTH.FORM.SIGN_UP.STEP_2_BUTTON' | translate }}
                            </button>
                        </div>
                    </div>

                    <!-- Step 3 -->
                    <div id="step-3"
                         class="content"
                         role="tabpanel"
                         aria-labelledby="step-3-trigger"
                         formGroupName="step_3">
                        <div class="d-flex flex-column gap-4">
                            <div class="row gy-3">
                                <div class="form-group">
                                    <label class="form-label">{{ 'AUTH.FORM.SIGN_UP.PASSWORD' | translate }}</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i
                                               class="fa-solid fa-lock text-primary"></i></span>
                                        <input type="password"
                                               #password
                                               formControlName="password"
                                               class="form-control">
                                        <span class="input-group-text">
                                            @if (password.type === 'password') {
                                            <i (click)="password.type = 'text'"
                                               class="fa-solid fa-eye text-primary cursor-pointer"></i>
                                            } @else {
                                            <i (click)="password.type = 'password'"
                                               class="fa-solid fa-eye-slash text-primary cursor-pointer"></i>
                                            }
                                        </span>
                                    </div>

                                    @if (form['step_3'].get('password')?.errors?.['required'] &&
                                    form['step_3'].get('password')?.touched) {
                                    <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        {{ 'This field is mandatory' | translate }}
                                    </small>
                                    }
                                </div>

                                <div class="form-group">
                                    <label class="form-label">{{ 'AUTH.FORM.SIGN_UP.PASSWORD_CONFIRMATION' | translate
                                        }}</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i
                                               class="fa-solid fa-lock text-primary"></i></span>
                                        <input type="password"
                                               #passwordConfirm
                                               formControlName="confirmPassword"
                                               class="form-control">
                                        <span class="input-group-text">
                                            @if (passwordConfirm.type === 'password') {
                                            <i (click)="passwordConfirm.type = 'text'"
                                               class="fa-solid fa-eye text-primary cursor-pointer"></i>
                                            } @else {
                                            <i (click)="passwordConfirm.type = 'password'"
                                               class="fa-solid fa-eye-slash text-primary cursor-pointer"></i>
                                            }
                                        </span>
                                    </div>

                                    @if (form['step_3'].get('confirmPassword')?.errors?.['required'] &&
                                    form['step_3'].get('confirmPassword')?.touched) {
                                    <small class="text-danger d-flex gap-2 align-items-center mt-2">
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        {{ 'This field is mandatory' | translate }}
                                    </small>
                                    }
                                </div>

                                <div class="col-12">
                                    <ul class="password-feedback-list">
                                        <li [class.completed]="form['step_3'].value?.password.match('^(?=.*[A-Z])')">
                                            {{ 'AUTH.FORM.SIGN_UP.FEEDBACK.FEEDBACK_1' | translate }}
                                        </li>
                                        <li [class.completed]="form['step_3'].value?.password.match('(?=.*[a-z])')">
                                            {{ 'AUTH.FORM.SIGN_UP.FEEDBACK.FEEDBACK_2' | translate }}
                                        </li>
                                        <li [class.completed]="form['step_3'].value?.password.match('(.*[0-9].*)')">
                                            {{ 'AUTH.FORM.SIGN_UP.FEEDBACK.FEEDBACK_3' | translate }}
                                        </li>
                                        <li
                                            [class.completed]="form['step_3'].value?.password.match('(?=.*[!@#$%^&*])')">
                                            {{ 'AUTH.FORM.SIGN_UP.FEEDBACK.FEEDBACK_4' | translate }}
                                        </li>
                                        <li [class.completed]="form['step_3'].value.password">
                                            {{ 'AUTH.FORM.SIGN_UP.FEEDBACK.FEEDBACK_5' | translate }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button type="button"
                                    [disabled]="loading()"
                                    (click)="onNext(3)"
                                    class="btn btn-primary">
                                {{ 'AUTH.FORM.SIGN_UP.STEP_3_BUTTON' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-center gap-2">
                {{ 'AUTH.FORM.SIGN_UP.NO_ACCOUNT' | translate }}
                <a [routerLink]="'/' + ROUTES.AUTH.ROOT + '/' + ROUTES.AUTH.SIGN_IN"
                   class="text-center fw-bold text-decoration-none">
                    {{ 'AUTH.FORM.SIGN_UP.SIGN_IN' | translate }}
                </a>
            </div>
        </div>
    </form>
</section>