<header>
    <section class="bg-primary  py-3">
        <div class="container d-flex align-items-center justify-content-between">
            <a href="">
                <img src="assets/images/logo-white.svg"
                     alt="">
            </a>

            <ul>
                <li>
                    <div ngbDropdown
                         placement="bottom-end"
                         class="d-inline-block">
                        <button type="button"
                                class="btn btn-light"
                                id="dropdownBasic1"
                                ngbDropdownToggle>
                            {{userInitials}}
                        </button>
                        <div ngbDropdownMenu
                             aria-labelledby="dropdownBasic1">
                            <a ngbDropdownItem
                               class="d-flex align-items-center gap-2"
                               [routerLink]="'/' + WEB_ROUTES.SETTINGS.ROOT + '/' + WEB_ROUTES.SETTINGS.ACCOUNT">
                                <i class="fa-solid fa-user"></i>
                                Profile
                            </a>
                            <a ngbDropdownItem
                               class="d-flex align-items-center gap-2"
                               [routerLink]="'/' + WEB_ROUTES.SETTINGS.ROOT">
                                <i class="fa-solid fa-gear"></i>
                                Settings
                            </a>

                            <a ngbDropdownItem
                               href="javascript:void(0)"
                               (click)="onLogout()"
                               class="d-flex align-items-center gap-2 text-danger">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="bg-white py-3 shadow">
        <div class="container d-flex align-items-center">
            <ul class="d-flex align-items-center gap-4 p-0 m-0">
                @for (item of menu; track $index) {
                <li>
                    <a [routerLink]="'/' + item.routerLink"
                       [routerLinkActiveOptions]="{ exact: true }"
                       routerLinkActive="text-primary fw-bold"
                       class="d-flex align-items-center gap-2">
                        <i [class]="item.icon"></i>
                        {{item.title}}
                    </a>
                </li>
                }
            </ul>
        </div>
    </section>
</header>