<header class="border-bottom">
    <section class="bg-white py-4">
        <div class="d-flex align-items-center justify-content-between px-5">

            <div class="d-flex gap-2 align-items-center text-primary">
                <i [class]="module.icon"></i>
                <h6 class="mb-0  fw-bold">{{module.title}}</h6>
            </div>

            <ul class="d-flex align-items-center gap-2">
                <li>
                    <a href="javascript:void(0)"
                       (click)="onLangChange()"
                       class="text-decoration-none cursor-pointer text-primary lang-link d-flex gap-2 align-items-center">
                        <i class="fa-solid fa-globe"></i>
                        {{translationService.language === 'en' ? 'Arabic' : 'English'}}
                    </a>
                </li>
            </ul>
        </div>
    </section>
</header>