<section class="row p-5">
    <div class="col">
        <div class="d-flex align-items-center gap-3">
            <app-initials></app-initials>
            <div>
                <h3>Welcome back, Zakaria!</h3>
                <span class="text-grey"> You have 2 new messages and 15 new tasks </span>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="d-flex gap-2 align-items-center h-100 justify-content-end">
            <a href="">
                <button class="btn btn-primary">Browse Opportunities</button>
            </a>
            <a href="">
                <button class="btn btn-outline-primary">View Transactions</button>
            </a>
        </div>
    </div>
</section>