<section class="row p-5 border-bottom mx-0">
    <div class="col">
        <div class="d-flex align-items-center gap-3">
            <app-initials></app-initials>
            <div>
                <h3>Welcome back, {{user.name}}!</h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="d-flex gap-2 align-items-center h-100 justify-content-end">
            <a href="">
                <button class="btn btn-primary">Browse Opportunities</button>
            </a>
            <a href="">
                <button class="btn btn-outline-primary">View Transactions</button>
            </a>
        </div>
    </div>
</section>