<section class="row p-5 border-bottom g-0 mx-0">
    <div class="col">
        <div class="d-flex align-items-center gap-3">
            <app-initials></app-initials>
            <div>
                <h3>{{ 'ONBOARDING.WELCOME_BACK' | translate }}, {{ user.name }}!</h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="d-flex gap-2 align-items-center h-100 justify-content-end">
            <a href="">
                <button class="btn btn-primary">{{ 'ONBOARDING.BROWSE_PROPERTIES' | translate }}</button>
            </a>
            <a href="">
                <button class="btn btn-outline-primary">{{ 'ONBOARDING.VIEW_TRANSACTIONS' | translate }}</button>
            </a>
        </div>
    </div>
</section>