$utilities: (
    "opacity": (property: opacity,
        values: (0: 0,
            25: .25,
            50: .5,
            75: .75,
            100: 1,
        )),
    "cursor": (property: cursor,
        values: (pointer: pointer)),
    "top": (property: top,
        values: (0: 0,
            1rem: 1rem,
            25: .25rem,
            50: .5rem,
            75: .75rem,
            100: 1rem)),
    "right": (property: right,
        values: (0: 0,
            1rem: 1rem,
            25: .25rem,
            50: .5rem,
            75: .75rem,
            100: 1rem)),
    "width": (property: width,
        values: (auto: auto,
            fit: fit-content,
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            1rem: 1rem,
            2rem: 2rem,
            3rem: 3rem))
);