<form [formGroup]="form">
    <h4>Security Information</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti architecto si</p>
    <div class="form-group mb-2">
        <label for="password"
               class="form-label">{{'Current Password'}}</label>
        <div class="input-group">
            <input type="password"
                   formControlName="password"
                   #password
                   class="form-control"
                   id="password">

            <span class="input-group-text">
                @if (password.type === 'password') {
                <i (click)="password.type = 'text'"
                   class="fa-solid fa-eye text-primary cursor-pointer"></i>
                }@else {
                <i (click)="password.type = 'password'"
                   class="fa-solid fa-eye-slash text-primary cursor-pointer"></i>
                }
            </span>
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="password"
               class="form-label">{{'New Password'}}</label>
        <div class="input-group">
            <input type="password"
                   formControlName="password"
                   #password
                   class="form-control"
                   id="password">

            <span class="input-group-text">
                @if (password.type === 'password') {
                <i (click)="password.type = 'text'"
                   class="fa-solid fa-eye text-primary cursor-pointer"></i>
                }@else {
                <i (click)="password.type = 'password'"
                   class="fa-solid fa-eye-slash text-primary cursor-pointer"></i>
                }
            </span>
        </div>
    </div>

    <div class="col-12 ">
        <ul class="password-feedback-list">
            <li [class.completed]="form.value?.password?.match('^(?=.*[A-Z])')">
                Must contain at least one uppercase letter
            </li>
            <li [class.completed]="form.value?.password?.match('(?=.*[a-z])')">
                Must contain at least one lowercase letter.
            </li>
            <li [class.completed]="form.value?.password?.match('(.*[0-9].*)')">
                Must contain at least one number.
            </li>
            <li [class.completed]="form.value?.password?.match('(?=.*[!@#$%^&*])')">
                Must contain at least one special character.
            </li>
            <li [class.completed]="form.value?.password">
                Must be at least 8 characters long.
            </li>
        </ul>
    </div>

    <hr class="my-4">

    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">
            Save
        </button>
    </div>
</form>