<form [formGroup]="form">
    <h4>{{ 'SETTINGS.SECURITY.TITLE' | translate }}</h4>
    <p>{{ 'SETTINGS.SECURITY.DESCRIPTION' | translate }}</p>

    <div class="form-group mb-2">
        <label for="currentPassword"
               class="form-label">{{ 'SETTINGS.SECURITY.CURRENT_PASSWORD' | translate }}</label>
        <div class="input-group">
            <input type="password"
                   formControlName="password"
                   #currentPassword
                   class="form-control"
                   id="currentPassword">

            <span class="input-group-text">
                @if (currentPassword.type === 'password') {
                <i class="fa-solid fa-eye text-primary cursor-pointer"
                   (click)="currentPassword.type = 'text'"></i>
                }
                @if(currentPassword.type === 'text'){
                <i class="fa-solid fa-eye-slash text-primary cursor-pointer"
                   (click)="currentPassword.type = 'password'"></i>
                }


            </span>
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="newPassword"
               class="form-label">{{ 'SETTINGS.SECURITY.NEW_PASSWORD' | translate }}</label>
        <div class="input-group">
            <input type="password"
                   #newPassword
                   class="form-control"
                   id="newPassword">

            <span class="input-group-text">
                @if(newPassword.type === 'password'){
                <i class="fa-solid fa-eye text-primary cursor-pointer"
                   (click)="newPassword.type = 'text'"></i>
                }

                @if (newPassword.type === 'text') {
                <i class="fa-solid fa-eye-slash text-primary cursor-pointer"
                   (click)="newPassword.type = 'password'"></i>
                }


            </span>
        </div>
    </div>

    <div class="col-12">
        <ul class="password-feedback-list">
            <li [class.completed]="form.value?.newPassword?.match('^(?=.*[A-Z])')">
                {{ 'SETTINGS.SECURITY.FEEDBACK.UPPERCASE' | translate }}
            </li>
            <li [class.completed]="form.value?.newPassword?.match('(?=.*[a-z])')">
                {{ 'SETTINGS.SECURITY.FEEDBACK.LOWERCASE' | translate }}
            </li>
            <li [class.completed]="form.value?.newPassword?.match('(.*[0-9].*)')">
                {{ 'SETTINGS.SECURITY.FEEDBACK.NUMBER' | translate }}
            </li>
            <li [class.completed]="form.value?.newPassword?.match('(?=.*[!@#$%^&*])')">
                {{ 'SETTINGS.SECURITY.FEEDBACK.SPECIAL' | translate }}
            </li>
            <li [class.completed]="form.value?.newPassword?.length >= 8">
                {{ 'SETTINGS.SECURITY.FEEDBACK.LENGTH' | translate }}
            </li>
        </ul>
    </div>

    <hr class="my-4">

    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">{{ 'SETTINGS.SECURITY.SAVE_BTN' | translate }}</button>
    </div>
</form>